.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body { 
  background: AliceBlue; 
}

.App {
  padding: 20px;
  background-color: rgb(169, 200, 218);
  border: 1px solid #c3c3c3;
}

.container {
  padding: 20px;
}